{
    "targetAddress": ["0x2AD104F4"],
    "executableMemory" : [
        {
            "name":"ld-uClibc-0.9.33.2.so",
            "path": "libs/ld-uClibc-0.9.33.2.so",
            "baseAddress": "0x2aaa8000",
            "endAddress": "0x2aaaf000",
            "arch":"MIPS"
        },
        {
            "name":"libz.so.1.2.8",
            "path": "libs/libz.so.1.2.8",
            "baseAddress": "0x2ab01000",
            "endAddress": "0x2ab14000",
            "arch":"MIPS"
        },
        {
            "name":"libthreadutil.so.6.0.4",
            "path": "libs/libthreadutil.so.6.0.4",
            "baseAddress": "0x2acd5000",
            "endAddress": "0x2acdc000",
            "arch":"MIPS"
        },
        {
            "name":"libixml.so.2.0.8",
            "path": "libs/libixml.so.2.0.8",
            "baseAddress": "0x2acec000",
            "endAddress": "0x2acf6000",
            "arch":"MIPS"
        },
                {
            "name":"libpthread-0.9.33.2.so",
            "path": "libs/libpthread-0.9.33.2.so",
            "baseAddress": "0x2ad06000",
            "endAddress": "0x2ad19000",
            "arch":"MIPS"
        },
                {
            "name":"libssl.so.1.0.0",
            "path": "libs/libssl.so.1.0.0",
            "baseAddress": "0x2ad2c000",
            "endAddress": "0x2ad6a000",
            "arch":"MIPS"
        },
                {
            "name":"libcrypto.so.1.0.0",
            "path": "libs/libcrypto.so.1.0.0",
            "baseAddress": "0x2ad7d000",
            "endAddress": "0x2ae94000",
            "arch":"MIPS"
        },
                {
            "name":"libcurl.so.5.3.0",
            "path": "libs/libcurl.so.5.3.0",
            "baseAddress": "0x2aeb4000",
            "endAddress": "0x2aefd000",
            "arch":"MIPS"
        },
                {
            "name":"libcares.so.2.0.0",
            "path": "libs/libcares.so.2.0.0",
            "baseAddress": "0x2af0e000",
            "endAddress": "0x2af1d000",
            "arch":"MIPS"
        },
                {
            "name":"libm-0.9.33.2.so",
            "path": "libs/libm-0.9.33.2.so",
            "baseAddress": "0x2af2d000",
            "endAddress": "0x2af42000",
            "arch":"MIPS"
        },
                {
            "name":"libmxml.so.1.5",
            "path": "libs/libmxml.so.1.5",
            "baseAddress": "0x2af53000",
            "endAddress": "0x2af5d000",
            "arch":"MIPS"
        },
                {
            "name":"libsqlite3.so.0.8.6",
            "path": "libs/libsqlite3.so.0.8.6",
            "baseAddress": "0x2af6e000",
            "endAddress": "0x2b02d000",
            "arch":"MIPS"
        },
                {
            "name":"libgcc_s.so.1",
            "path": "libs/libgcc_s.so.1",
            "baseAddress": "0x2b03f000",
            "endAddress": "0x2b04f000",
            "arch":"MIPS"
        },
                {
            "name":"libuClibc-0.9.33.2.so",
            "path": "libs/libuClibc-0.9.33.2.so",
            "baseAddress": "0x2b05f000",
            "endAddress": "0x2b0c8000",
            "arch":"MIPS"
        },
                {
            "name":"librt-0.9.33.2.so",
            "path": "libs/librt-0.9.33.2.so",
            "baseAddress": "0x2b0df000",
            "endAddress": "0x2b0e2000",
            "arch":"MIPS"
        },
                {
            "name":"libdl-0.9.33.2.so",
            "path": "libs/libdl-0.9.33.2.so",
            "baseAddress": "0x2b0f3000",
            "endAddress": "0x2b0f6000",
            "arch":"MIPS"
        }
    ]

}
